<div class="albums-container">
  <h1 class="mat-headline-1" >{{title}}</h1>
  <div class="albums-wrapper" *ngIf="albums.length > 0">
    <app-card
      (click)="handleAlbumSelected(album)"
      *ngFor="let album of albums"
      [title]="album.title"
    >
        <img  [src]="album.thumbnailUrl" alt="album.title" />
        <app-button (click)="handleAlbumSelected(album)">Visualizar Album</app-button>
      <app-spinner *ngIf="!album.thumbnailUrl"></app-spinner>
    </app-card>
  </div>
  <app-spinner *ngIf="albums.length === 0"></app-spinner>
</div>
